@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, button, input {
    font-family: 'Open Sans';
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

button#toggle {
    outline: none;
    border: none;
    background-color: #00bfff;
    color: white;
    font-size: xx-large;
    font-weight: 600;
    transition: filter 0.2s;
    cursor: pointer;
}

button#toggle:hover {
    filter: saturate(0.7);
}

button#toggle:active {
    filter: saturate(0.5);
}